CELERY_BROKER_URL = 'amqp://zedekiah:auc753@localhost:5672/flask_celery_example'
CELERY_RESULT_BACKEND = 'amqp'
CELERYD_STATE_DB = "/opt/path/data/celery_worker_state"
CELERY_ACCEPT_CONTENT = ['json']
CELERY_TASK_SERIALIZER = 'json'
CELERY_RESULT_SERIALIZER = 'json'
CELERY_IGNORE_RESULT = False
CELERY_IMPORTS = ('long_task',)